
<div class="container my-5">
  <h1 class="mb-3">Colaboradores</h1>
  <app-colaboradores-modal></app-colaboradores-modal><br><br>

  <label class="apellido">Buscar: </label><td></td>
  <input type="text" name="search" [(ngModel)]="searchText" placeholder="search">


<table class="table" id="colaboradortabla">
  <thead>
    <tr>

      <th (click)="sort('primerNombre')">Primer Nombre&nbsp;<i class="fa fa-sort"></i></th>
      <th>Primer Apellido</th>
      <th>DNI</th>
      <th>Fecha de Nacimiento</th>
      <th>Direccion</th>
      <th>Telefono</th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let colaborador of colaboradores | filter:searchText | orderBy: key:reverse | paginate: {itemsPerPage:5,currentPage:p,totalItems:colaboradores.length};">
      <td>{{ colaborador.primerNombre }}</td>
      <td>{{ colaborador.primerApellido }}</td>
      <td>{{ colaborador.dni }} </td>
      <td>{{ colaborador.fechaNacimiento | date: "yyyy-MM-dd" }}</td>
      <td>{{ colaborador.direccion }}</td>
      <td>{{ colaborador.telefono }}</td>
      <br>
      <td>
        <button type="button" id="modalbutton" (click)="edit(colaborador)" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#ModalUpdate">Actualizar</button>
       <td><button type="button" class="btn btn-danger" (click)="deleteColaborador(colaborador)" >Eliminar</button>
      </td>
    </tr>
  </tbody>

</table>
<pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>

<!-- Modal Update -->
<div class="modal fade" id="ModalUpdate" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div style="background-color: black" class="modal-header">
        <h2 class="modal-title" id="exampleModalLongTitle" style="color: white">Actualizar</h2>
        <button type="button"  class="close" data-bs-dismiss="modal" aria-label="Close" >

          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body ">
        <form [formGroup]="colaboradorUpdateform">
<br>
              <div class="form-group">
                <label for="NOMBRE">Primer Nombre:</label>
                <input class="Nombre" class="form-control" type="text" id="NOMBRE"  name="nombre" formControlName="primernombre"><td></td><br>
              </div>
              <div class="form-group">
                <label for="APELLIDO">Primer Apellido: </label>
                <input  class="form-control" type="text" id="APELLIDO" name="apellido" formControlName="primerapellido"><br>
              </div>
              <div class="form-group">
                <label for="DNI">DNI: </label>
                <input class="form-control" type="text" id="DNI" name="dni" formControlName="dni" mask="0000-0000-00000"><br>
              </div>
                <label class="fecha_nac">Fecha de Nacimiento: </label>
                <input class="Fecha_Nac" type="date" id="FECHA_NAC" name="fecha_nac" formControlName="fechanacimiento"><br><br>
                <label class="direccion">Direccion: </label><br>
                <div class="md-form amber-textarea active-amber-textarea">
                  <textarea id="form19" class="md-textarea form-control" rows="3" formControlName="direccion"></textarea>
                </div><br>
                <div class="form-group">
                <label for="TELEFONO">Telefono: </label>
                <input class="form-control" type="text" id="TELEFONO" name="telefono" formControlName="telefono" mask="(000)0000-0000"><br><br>
              </div>

              </form>
            </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button  type="button"   class="btn btn-primary" (click)="updateColaborador()" [disabled]="this.colaboradorUpdateform.invalid" (click)="ObtenerAllcolaboradores()" >Actualizar</button>
      </div>
    </div>
  </div>
</div>




