
<div class="row">
  <div class="col-6"></div>
  <div class="col-6 text-end">
    <button class="btn btn-dark" (click)="addRow()">Nuevo Empleado</button>
  </div>
</div>
<div class="pt-2">
  <form [formGroup]="employeeForm">
    <table class="table table-bordered">
<thead>
  <tr class="text-uppercase table-dark">
    <th scope="col">Transportista</th>
    <th scope="col">Tarifa</th>
  </tr>

</thead>
<tbody>
  <td>
      <mat-form-field>
        <input matInput type="text" [matAutocomplete]="auto1" class="form-control" formControlName="primerNombre" placeholder="Enter First" >
      <mat-autocomplete #auto1="matAutocomplete" (optionSelected)="onOptionSelected2($event)">
        <mat-option *ngFor="let primerNombre of transportistas" [value]="primerNombre.primerNombre" [disabled]="selectedValues1.includes(primerNombre.primerNombre)">
          {{primerNombre.primerNombre}}

        </mat-option>
      </mat-autocomplete>
      </mat-form-field>
    </td>
    <td>
      <input matInput type="text" class="form-control" formControlName="tarifa" placeholder="tarifa"style="pointer-events: none;" >
    </td>
    </tbody>

    </table>


    <table class="table table-bordered">
      <thead>
        <tr class="text-uppercase table-dark">
          <th scope="col">Nombre Completo</th>
          <th scope="col">sucursal</th>
          <th scope="col">distancia</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <ng-container formArrayName="tableRows" *ngFor="let group of getFormControls.controls; let i=index">
          <tr [formGroupName]="i">
            <td>

              <mat-form-field>
              <input matInput type="text" [matAutocomplete]="auto1" class="form-control" formControlName="nombreCompleto" placeholder="Enter First" >
            <mat-autocomplete #auto1="matAutocomplete" (optionSelected)="onOptionSelected1($event)" >
              <mat-option *ngFor="let nombreCompleto of sucursales_colaboradores" [value]="nombreCompleto.nombreCompleto" [disabled]="selectedValues1.includes(nombreCompleto.nombreCompleto)">
                {{nombreCompleto.nombreCompleto}}

              </mat-option>
            </mat-autocomplete>
            </mat-form-field>
          </td>
            <td>
              <input type="text" class="form-control" formControlName="nombre" placeholder="Sucursal"style="pointer-events: none;" >

            </td>
            <td>

              <input matInput type="text" class="form-control" formControlName="distanciaKm" placeholder="Distancia" style="pointer-events: none;">
            </td>
            <td>
              <button class="btn btn-danger" (click)="removeEmployee(i)" >Remover</button>
            </td>
          </tr>
        </ng-container>
        <ng-container>
          <tr>
            <td colspan="7">
              <div class="row">
                <div class="col-12 text-center">
                  <button class="btn btn-success"  (click)="onSaveForm()">Ingresar Viaje</button>
                </div>
              </div>
            </td>
          </tr>
        </ng-container>
        <tr>
          <td class="bg-warning" style="font-weight: bolder;">total distancia:</td>
          <td style="text-align: center;">{{ columnSums[2] }}</td>
          <input type="text" formControlName="multipliedSums" placeholder="Multiplied Sums">
        </tr>
      </tbody>
    </table>
  </form>
</div>
